.testymaindiv {
  margin-top: 100px;
}
.testymaindivh2 h2 {
  background: -webkit-linear-gradient(#ed820e, #ed5958);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  /* font-size: 3vw; */
  
  font-family: sans-serif;
}
.testymaindivh2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding-left: 5%;
  
}
.testy1imagetest2 img {
  width: 400px;
  
}

.testy1imagetest {
  display: flex;
  width: 100%; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
 font-size: 12px;

}


.qut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;

}
.qut01 {
  display: flex;
  flex-direction: row;
  
}
.qut01 span {
  /* font-size: 2.5vw; */
  font-family: sans-serif;
  margin-top: -7px;
  
}
.qut1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 

}
.qut03 {
  display: flex;
  flex-direction: row;
  
}
.qutp {
  width: 70%;
  
}
.qutp2 {
  width: 70%;
}
.qut01 h2 {
  /* font-size: 1.5vw; */
  font-family: sans-serif;
  font-weight: 500;
  
}

.displaycontent{
  display: none;
}
.text{
  width:500px;
  margin-left: 30%;
  
}
@media screen and (max-width: 820px) {
  .testy1imagetest2 img {
    width: 400px;
  }
  .testy1imagetest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .displaycontent{
    display: block;
    padding-right: 20px;
  }
  .qutp3{
    width:70%;
    margin-left: 32px;
  }
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .display{
    display: none;
  }
  .text{
    width:200px;
    margin-left: 0px;
  }
  .displaycontent{
    width:200px;

  }
}
@media screen and (max-width:770px) {
  .displaycontent{
    font-size: 12px;
    width:350px;
  }
  .testy1imagetest1{
    width:400px;
  }
}
@media screen and (max-width:620px) {
  .text{
    margin-left: -20px;
  }
  .displaycontent{
    width:200px;
  }
}
@media screen and (max-width:520px) {
  .displaycontent{
    width:50px;
  }
  .testy1imagetest1{
    width:200px;
  }
  p{
    font-size: 12px;
  }
}
